.not-v {
  opacity: 0;
}


.login-form .btn.btn-primary {
  background: #f0ad4e none repeat scroll 0 0;
  border-color: #f0ad4e;
  color: #ffffff;
  font-size: 14px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0;
}

.main-div {
  border-radius: 2px;
  margin: 0px auto;
  max-width: 50%;
  min-width: 40%;
}

.main-div form {
  background-color: #00B7FF;
  padding: 50px 70px 70px 71px;
  background-color: aliceblue;
  border-radius: 30px;
  min-width: 360px;
}

@media screen and (max-width: 768px) {
  .main-div form {
    margin-left: -40%;
  }
}

@media screen and (max-width: 375px) {
  .main-div form {
    min-width: 322px;
  }
}
